<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>UBC Course Analyzer</title>
  </head>
  <body style="background-color:whitesmoke">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
            <a class="navbar-brand" href="index.html"> UBC Course Analyzer</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Seat Checker<span class="sr-only"></span></a>
                  </li>
                </ul>
                <span class="navbar-text">
                  Learn the five-year statistics for any course section.
                </span>
            </div>
        </nav>
        <div class="jumbotron m-0 mt-2 p-4">
          <div class="container">
            <h4 class="display-5">Is the class you want to register full? Don't worry!</h4>
            <p class="lead">Seat Checker is a free tool that checks if a course is available every 5 minutes for 24/7.<br/>
            When a course becomes available, we will immediately send you an email. You don't have to create an account!</p>
          </div>
        </div>
        <div class=row>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto mt-3">
                <div class="card" style="background-color: whitesmoke;">
                    <div class="p-4" id="card-content">
                        {% block content %}{% endblock %}
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
  <footer>
    <div class="footer-copyright fixed-bottom text-center py-3"> Created By:
        <a href="http://www.mertbarutcuoglu.tech/"> Kadir Mert Barutçuoğlu</a>
      </div>
  </footer>
</html>